# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

fbx to vrm convertor/

# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db

# Build Artifacts
dist/
.vite/
.eslintcache

# Testing
coverage/
/cypress/videos/
/cypress/screenshots/

# Editor Settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environments
.env
.env.*
!.env.example
